deb {{ debian_main_mirror }} {{ debian_release }} main non-free contrib
deb-src {{ debian_main_mirror }} {{ debian_release }} main non-free contrib

deb {{ debian_security_mirror }} {{ debian_release }}-security main non-free contrib
deb-src {{ debian_security_mirror }} {{ debian_release }}-security main non-free contrib

deb {{ debian_updates_mirror }} {{ debian_release }}-updates main non-free contrib
deb-src {{ debian_updates_mirror }} {{ debian_release }}-updates main non-free contrib

deb {{ debian_backports_mirror }} {{ debian_release }}-backports main contrib non-free
deb-src {{ debian_backports_mirror }} {{ debian_release }}-backports main contrib non-free
